body {
  font-family: Arial, sans-serif;
  background: #f7f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: rgb(248, 245, 245);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #943c3c;
  max-width: 500px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  background: #b3da03;
  color: rgb(27, 1, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background:#f10c0c;
}

#feedback {
  margin-top: 10px;
  font-weight: bold;
}
